<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Biblio
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>B</text></svg>">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
	</head>
	<body>
		{% include "partials/_flash.html.twig" %}
		<header>
			<h1>
				<a href="{{ path('home') }}">BIBLIOSF</a>
			</h1>
			<nav>
				{% if app.user %}
					<a href="{{ path('logout') }}" class="btn btn-secondary">Déconnexion</a>
				{% else %}
					<a href="{{ path('login') }}" class="btn btn-primary">Connexion</a>
					<a href="{{ path('register') }}" class="btn btn-primary">Enregistrement</a>
				{% endif %}
				<a href="{{ path('email') }}" class="btn btn-warning">Test Email</a>
				<a href="{{ path('contact') }}" class="btn btn-primary">Contact</a>

				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('books') }}"class="btn btn-alert">Books</a>
					<a href="{{ path('user') }}" class="btn btn-alert">Users</a>
				{% endif %}

			</nav>
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html>
